@charset "UTF-8";
:root {
  --primary-color: blue;
  --secondary-color: red;
}
body {
  background: grey;
}
header {
  background: white;
}
footer {
  background: blueviolet;
  color: darkred;
  padding: 10px;
  text-align: center;
}

* {
  color: blueviolet;
}

section {
  background: lightblue;
}

.custom-li-element {
  background: lightblue;
  color: red;
}

.lime {
  background: lime;
  border: 2px solid green;
}

article > section {
  background-color: red;
}

article section {
  border: 5px solid darkred;
}
